force-app/main/default/flows/Appointment_Booking_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Screen Flow for creating a Service Appointment. Verifies the customer contact via subflow, checks for scheduling conflicts, shows an error if a conflict is found, and creates the record on success.</description>
    <interviewLabel>Appointment Booking Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Booking Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    
    <decisions>
        <name>Is_Conflict_Found</name>
        <label>Is Conflict Found?</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Create_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Conflict</defaultConnectorLabel>
        <rules>
            <name>Conflict_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conflictingApptId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Conflict_Error</targetReference>
            </connector>
            <label>Conflict Exists</label>
        </rules>
    </decisions>
    
    <decisions>
        <name>Is_Contact_Valid</name>
        <label>Is Contact Valid?</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>Screen_Contact_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Conflicts</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>

    <recordCreates>
        <name>Create_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>fld_Customer.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agent__c</field>
            <value>
                <elementReference>fld_Agent.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Date_Time__c</field>
            <value>
                <elementReference>fld_DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>fld_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Appointment__c</object>
    </recordCreates>

    <recordLookups>
        <name>Check_Conflicts</name>
        <label>Check Scheduling Conflicts</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Conflict_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fld_Agent.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Date_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fld_DateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Appointment__c</object>
        <outputAssignments>
            <assignToReference>conflictingApptId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>

    <screens>
        <name>Booking_Form</name>
        <label>New Service Appointment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Contact_Subflow</targetReference>
        </connector>
        <fields>
            <name>fld_Customer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Service_Appointment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>fld_Agent</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Service_Agent__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service Agent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Service_Appointment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>fld_DateTime</name>
            <dataType>DateTime</dataType>
            <fieldText>Appointment Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Conflict_Error</name>
        <label>Error: Scheduling Conflict</label>
        <locationX>396</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>err_Conflict</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Scheduling Conflict:&lt;/strong&gt; The selected agent already has an appointment at this date and time. Please choose a different time slot or a different agent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Contact_Not_Found</name>
        <label>Error: Contact Not Found</label>
        <locationX>396</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>err_ContactNotFound</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; The selected Customer contact was not found in the system. Please verify the Contact ID and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Appointment Created</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_Success</name>
            <fieldText>&lt;p&gt;✅ &lt;strong&gt;Success!&lt;/strong&gt; The service appointment for &lt;strong&gt;{!contactName}&lt;/strong&gt; has been created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Booking_Form</targetReference>
        </connector>
    </start>

    <status>Active</status>

    <subflows>
        <name>Check_Contact_Subflow</name>
        <label>Check Contact Exists</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Is_Contact_Valid</targetReference>
        </connector>
        <flowName>Check_Contact_Exists</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>fld_Customer.recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactExists</assignToReference>
            <name>contactExists</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactName</assignToReference>
            <name>contactName</name>
        </outputAssignments>
    </subflows>

    <variables>
        <name>conflictingApptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>contactExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>

    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
