force-app/main/default/flows/Update_Active_Appointments_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-Save Record-Triggered Flow on Service_Appointment__c. Recalculates the count of active (New or Confirmed) appointments for the related Contact and updates the Active_Appointments__c field.</description>
    <interviewLabel>Update Active Appointments Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Active Appointments Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <triggerType>RecordAfterSave</triggerType>

    <!-- Triggered on Service_Appointment__c create or update -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Appointment_Count</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Service_Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <!-- Aggregate: count active appointments for this contact -->
    <recordLookups>
        <name>Get_Active_Appointment_Count</name>
        <label>Get Active Appointment Count</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Appointment__c</object>
        <outputAssignments>
            <assignToReference>activeCount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>

    <!-- Variable to hold the count -->
    <variables>
        <name>activeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>

    <!-- Update Contact.Active_Appointments__c -->
    <recordUpdates>
        <name>Update_Contact_Counter</name>
        <label>Update Contact Counter</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Appointments__c</field>
            <value>
                <elementReference>activeCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
</Flow>
